<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/mystyle.css}"/>
</head>
<body>
<div class="am-container">
    <form class="am-form am-form-horizontal" id="mjFrom" th:action="@{/admin/addMajor}">
        <br/>
        <input type="text" name="name" value="" placeholder="专业名称"/>
        <br/>
        <a id="submitFrom" href="javascript:;" class="am-btn am-btn-primary am-fl">提交</a>
        <a id="closeIframe" class="am-btn am-btn-default am-fr" href="javascript:;">取消</a>
    </form>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/layer.js"></script>
<script>
    var closeIframe = parent.layer.getFrameIndex(window.name);
    $('#closeIframe').click(function(){
        parent.layer.close(closeIframe);
    });
    $("#submitFrom").click(function () {
        $("#mjFrom").submit();
    });
</script>
</body>
</html>