<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head id="head">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/mystyle.css}"/>

    <script th:src="@{/js/pace.js}"></script>
    <link rel="stylesheet" th:href="@{/css/pace-theme-minimal.css}"/>
    <style>
        body,html{
            height:100%;
        }
        .footer{
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="header">
    <header  class="am-topbar am-topbar-fixed-top">
    <div class="am-container">
        <h1 class="am-topbar-brand">
            <a href="#">Amaze UI</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
                data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="collapse-head">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active"><a th:href="@{/}">首页</a></li>
                <li><a  th:href="@{/explore}">发现</a></li>

                <li class="am-dropdown" data-am-dropdown="" sec:authorize="isAuthenticated()">
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle="" href="javascript:;">
                        我的 <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <!--<li class="am-dropdown-header">标题</li>-->
                        <li sec:authorize="hasAnyRole('SU','ADMIN')"><a th:href="@{/admin}">后台管理</a></li>
                        <li sec:authorize="hasRole('COM')"><a href="#">企业基本信息</a></li>
                        <li sec:authorize="hasRole('COM')"><a href="#">发布招聘</a></li>
                        <li sec:authorize="hasRole('GDE')"><a href="#">毕业生基本信息</a></li>
                        <li sec:authorize="hasRole('GDE')"><a href="#">编辑简历</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">注销</a></li>

                    </ul>
                </li>
                <li><a href="#">关于</a></li>
            </ul>
            <div sec:authorize="isAnonymous()">
                <div class="am-topbar-right">
                    <button class="am-btn am-btn-danger am-topbar-btn am-btn-sm  am-disabled"><span class="am-icon-pencil"></span> 注册</button>
                </div>

                <div class="am-topbar-right">
                    <a th:href="@{/login}" class="am-btn am-btn-primary am-topbar-btn am-btn-sm "><span class="am-icon-user"></span> 登录</a>
                </div>
            </div>

        </div>
    </div>
</header>
</div>

<div id="script">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/amazeui.min.js"></script>
    <script src="/js/layer.js"></script>
</div>

<footer id ="footer" class="footer">
    <p>© 2016 <a href="http://www.yunshipei.com" target="_blank">AllMobilize, Inc.</a> Licensed under <a
            href="http://opensource.org/licenses/MIT" target="_blank">MIT license</a>. by the AmazeUI Team.</p>
</footer>
</body>
</html>