<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MajorMapper">

    <resultMap id="mjRM" type="Major">
        <id column="id" property="id"/>
        <result column="major_name" property="name"/>
    </resultMap>

    <select id="findAll" resultMap="mjRM">
        SELECT * from major
    </select>
    <select id="findById" resultMap="mjRM">
         SELECT * from major
         WHERE id = #{id}
    </select>
    <insert id="insert">
        INSERT INTO major(major_name)
        VALUES (#{name})
    </insert>

    <delete id="deleteOne">
        DELETE FROM major
        WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE major
        SET major_name = #{name}
        WHERE id = #{id}
    </update>

</mapper>