<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MajorMapper">

    <resultMap id="mjRM" type="Major">
        <id column="id" property="id"/>
        <result column="major_name" property="name"/>
    </resultMap>

    <resultMap id="mjPositionRM" type="Major" extends="mjRM">
        <collection property="positions" ofType="Position">
            <id column="p_id" property="id"/>
            <result column="position_name" property="positionName"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="mjPositionRM">
        SELECT m.id,m.major_name,p.id AS p_id,p.position_name FROM major m
        LEFT JOIN positions p ON m.id = p.mj_id
    </select>
    <select id="findById" resultMap="mjRM">
        SELECT m.id,m.major_name,p.id AS p_id,p.position_name  FROM major m
        LEFT JOIN positions p ON m.id = p.mj_id
        WHERE id = #{id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO major(major_name)
        VALUES (#{name})
    </insert>

    <delete id="deleteOne">
        DELETE FROM major
        WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE major
        SET major_name = #{name}
        WHERE id = #{id}
    </update>

</mapper>